body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}
a {
    cursor: pointer;
}
.app-title {
    color: #337ab7;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: bold;
}
.container {
    max-width: 920px;
    margin: 0 auto;
}
.form-signin, .form-registration {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
    margin-top: 40px;
}
.form-registration input {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.menu {
    margin-top: 50px;
}
.form-control {
    height: 44px !important;
}
.search-form {
    display: inline-block;
    margin-top: 10px;
}
.search-form input {
    height: 35px !important;
    margin-left: 5px;
    margin-right: 5px;
}
.search-form input[type=date] {
    width: 153px !important;
}
.search-form input[type=time] {
    width: 120px !important;
}
.search-form label {
    position: relative;
    top: 3px;
}
.search-btn {
    width: 95px;
}
.glyphicon {
    margin-left: 5px;
}
.create-account, .show-login, .center {
    text-align: center;
}
.glyphicon {
    cursor: pointer;
}
.right {
    text-align: right;
}
.clear {
    clear: both;
    margin-bottom: 10px;
}
.new-meal-form {
    margin: 0;
    padding: 0;
}
form input.form-control {
    margin-bottom: 10px;
}
.search-form input {
    margin-bottom: 0 !important;
}
.bar {
    height: 30px;
    width: 70px;
}
.metric-success p, .metric-failure p {
    display: inline-block;
    margin-left: 10px;
    position: relative;
    top: -10px;
}
.bar {
    display: inline-block;
}
.metric-success .bar {
    background-color: green;
}
.metric-failure .bar {
    background-color: red;
}